body {
    background-color: #FEFEFE;
}
#topCarousel {
    max-height: 50vh;
    overflow: hidden;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
svg {
    max-width: 100%;
    width:100% !important;
    display: block!important;
    height: auto;
}
.img_overlay {
    position:absolute;
    top:0;
    left:0;
    height:0;
    bottom:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.2);
}

.horizontalGrid {
    stroke: #ddd; /* Color of horizontal grid lines */
}

.verticalGrid {
    stroke: #ddd; /* Color of vertical grid lines */
}

/* Assuming 'ratingSlider' is the ID of your slider element */
#ratingSlider {
    /* Set the background color of the slider track */
    background-color:white; /* Change to your desired color */

    /* Set the color of the slider handle (thumb) */
    .noUi-handle {
        background-color: #012749; /* Change to your desired color */
    }

    .noUi-connect {
        background-color: #; /* Change to your desired color */
    }


}

